<h2>Show User</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Password:</strong>
    <%= @user.password %>
  </li>

</ul>

<span><%= link "Edit", to: user_path(@conn, :edit, @user), class: 'btn btn-success btn-sm' %></span>
<span><%= link "Back", to: user_path(@conn, :index), class: 'btn btn-primary btn-sm' %></span>
