

img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: 80;
    max-width: 20%;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-image: url("/images/texture.jpg");
}


footer {
    padding: 0.6rem 0;
    /*color: #999;*/
    text-align: center;
    /*background-color: #f9f9f9;*/
    border-top: .05rem solid #e5e5e5;
		background-image: url("/images/bookrow.jpg");
		display: block;
		position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

	}
	.p-3 {
    padding: 0.5rem!important;
    background-image: url("/images/masthead_background.jpg");

}