<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :title, class: "control-label" %>
    <%= text_input f, :title, class: "form-control", placeholder: "Enter title..." %>
    <%= error_tag f, :title %>
  </div>

  <div class="form-group">
    <%= label f, :content, class: "control-label" %>
    <%= text_input f, :content, class: "form-control", placeholder: "Enter content..." %>
    <%= error_tag f, :content %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-danger btn-sm" %>
  </div>
<% end %>
