<h2>New Article</h2>

<%= render "form.html", Map.put(assigns, :action, article_path(@conn, :create)) %>

<span><%= link "Back", to: article_path(@conn, :index),class: "btn btn-primary btn-sm" %></span>
