
<h2>Show Article</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @article.title %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @article.content %>
  </li>

</ul>

<span><%= link "Edit", to: article_path(@conn, :edit, @article) %></span>
<span><%= link "Back", to: article_path(@conn, :index),class: "btn btn-primary btn-sm" %></span>
